/*
 * CSS de index.html 
 * 
 *
 * Charte couleur : 
 *      - gris : #F2F2F2
 *      - bleu : #0065FC
 *      - bleu clair : #DEEBFF
 *
 * Charte taille texte : 
 *      - Gros titre : 1.5vw
 *      - Titre article : 1.2vw
 *      - Titre section : 1.1vw
 *      - texte : 1vw
 *      - petit texte : 0.8vw
 */

/*---- GLOBAL ---- */

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:black;
}


body{
    width:100%;
    font-family: "Raleway", sans-serif;
}

/*---- HEADER ---- */

header{
    margin-bottom: 3vw;
    display:flex;
    align-content: stretch;
    font-size: 1.1vw;
}

header div{
    margin-top: 3vw;
    margin-left:3vw;
    align-self: flex-end;
    flex-basis:60%;
}
header div img{
    width:100px;
}

header nav ul{
    flex-basis: 30%;
    align-self: flex-start;
    display:flex;
    justify-content: space-around;
    list-style: none;
}
header nav ul li{
    border-top:2px solid transparent;
    padding: 38px;
}
header nav ul li:hover{
    border-top:2px solid #0065FC;
}
header nav ul li a:hover{
    color:#0065FC;
}

header p{
    flex-basis:10%;
    text-align: center;
    padding-top: 40px;
}
header p a{
    font-weight: bold;
    color:#0065FC;
}

/*---- CONTENT ---- */



section#research{
    margin-left: 3vw;
    margin-bottom: 1vw;
}

section#research h1{
    color:black;
    font-size: 1.5vw;
    font-weight: bold;
}

section#research p{
    margin-top: 15px;
    margin-bottom: 15px;
}

section#research form{
    display:flex;
    justify-content: flex-start;
    max-width: 10px;
}
section#research form label{
    display:flex;
    padding:1vw;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
}

section#research form input{
    padding:1vw;
    border:none;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    font-weight: bold;
    padding-left:15px;
    padding-right: 15px;
}

section#research form input[type="submit"]{
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

section#filter{
    margin-left: 3vw;
    margin-bottom: 3vw;
    height:3vw;
    display:flex;
    align-items: baseline;
    flex-flow:row wrap;
    align-content: space-between;
}

section#filter h1{
    font-size:1.1vw;
    margin-right: 1vw;
}

section#filter ul{
    flex-basis : 60%;
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

section#filter ul li{
    border:2px solid #F2F2F2;
    border-radius: 50px;
    font-size: 1.1vw;
    font-weight: bold;
    padding-right:20px;
}

section#filter ul li i{
    color:#0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    padding:25px;
    margin-right:20px;
}

section#filter li:hover{
    background-color: #deebff;
    transform: scale(1.05);
    transition: 0.4s;
}    



section#filter p{
    margin-top:1vw;
    flex-basis:100%;
    font-size: 1vw;
}

section#filter p i{
    border-radius: 50px;
    border : 1px solid #F2F2F2;
    color:#0065FC;
    padding:5px 8px;
    margin-right:5px;
}

/*--- PARTIE MAIN ---*/

main{
    display:flex;
    padding:3vw;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3vw;
}

main h1{
  font-size: 1.2vw;
  margin:1.5vw 3vw;
}

main article i{
    font-size: 0.8vw;
    margin-top: 0;
}

main article i.fa-star:not(.greystar){
    color: #0065FC;
}

main article i.greystar{
    color:#F2F2F2;
}

main section#accommodation,
main aside#popular{
    background-color: #F2F2F2;
    border-radius: 25px;
    width:65%;
    padding:2vw 1vw;

    display:flex;
    flex-direction: column;
}

main div article{
    flex-basis:30%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 2px 20px #C9C9C9;
    margin:0.5vw;
    padding: 0.3vw;
}

main div article:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

main  article>a>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5vw 1vw;
}

main  article>a h2{
    font-size: 1.1vw;
}

main article p{
    font-size:1vw;
}

main article p em{
    font-style:normal;
    font-weight: bold;
}

main section#accommodation>div,
main aside#popular>div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

main section#accommodation div article>a{
    display:flex;
    flex-direction: column;
}

main section#accommodation div article>a img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    width:100%;
    height:20vh;
}

main section#accommodation>p{
    margin: 2vw 1vw;
    font-weight: bold;
    font-size: 1.2vw;
    color:black;
}

main aside#popular{
    width: 30%;
    align-items: stretch;
}

main aside#popular>h1{
    margin-left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
}

main aside#popular>div{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

main aside#popular div article>a{
    display:flex;
    flex-direction: row;
}

main aside#popular div article>a img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
    width:40%;
    height:9.5vw;
}

main aside#popular div article>a>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*--- PARTIE ACTIVITÉ*/

section#activity{
    padding-left:3vw;
    padding-right:3vw;
    padding-bottom: 3vw;
}

section#activity>div{
    margin-top:1vw;
    width:100%;
    height:35vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

section#activity img{
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    width:100%;
    height:85%;
}


section#activity figcaption{
    font-size: 1.1vw;
    font-weight: bold;
    padding:0.3vw 1vw;
}
section#activity>div>figure figcaption{
    padding:1vw;
}


section#activity figure{
    box-shadow: 4px 2px 20px #C9C9C9;
    border-radius: 25px;
    
}
section#activity figure:hover{
    transform: scale(1.05);
    transition: 0.4s;
}

section#activity>div>figure{
    width:20%;
    height:35vw;
}
section#activity>div>figure>a>img{
    width:100%;
    height:90%;
}

section#activity div>div{
    width:20%;
}

section#activity div>div{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

 section#activity div>div:first-of-type figure:first-of-type{
    height:18vw;
    
}
section#activity div>div figure:first-of-type{
    margin-bottom: 1vw;
}





/*---- FOOTER ---- */
footer{
    background-color:#F2F2F2;
    display:flex;
    flex-direction: row;
    padding: 3vw;
}

footer div{
    margin-right: 20%;
}

footer div h2{
    font-size:1.2vw;
    margin-bottom: 1vw;
}

footer div ul{
    font-size: 1vw;
    list-style: none;
}

footer div ul li{
    margin-bottom: 1vw;
}

/*----- MEDIA QUERIES ----- */
