/*
 * CSS de index.html 
 * 
 */

/*---- GLOBAL ---- */
a{
    text-decoration: none;
}

body{
    font-family: "Raleway", sans-serif;
}

/*---- HEADER ---- */

/*---- CONTENT ---- */

i.greystar{
    color:gray;
}


/*---- FOOTER ---- */

/*----- MEDIA QUERIES ----- */
